<header>
  <nav class="navbar">
    <div class="nav-logo-title">
      <a href="/"
        ><img class="nav-logo" src="/images/assoc.png" alt="Assoc Logo"
      /></a>
      <h1 class="nav-title">Mathematics Association, BITS Pilani</h1>
    </div>
    <ul class="nav-links">
      <li class="links link1 <%= path === '/'?'active':'' %>">
        <a href="/" style="color: #000000; text-decoration: none">Home</a>
      </li>
      <li class="links link2 <%= path === '/members'?'active':'' %>">
        <a href="/members" style="color: #000000; text-decoration: none"
          >Members</a
        >
      </li>
      <li class="links link3 <%= path === '/events'?'active':'' %>">
        <a href="/events" style="color: #000000; text-decoration: none"
          >Events</a
        >
      </li>
      <li class="links link4 <%= path === '/contact'?'active':'' %>">
        <a href="/contact" style="color: #000000; text-decoration: none"
          >Contact Us</a
        >
      </li>
      <li class="links link5 <%= path === '/join'?'active':'' %>">
        <a href="/join" style="color: #000000; text-decoration: none"
          >Join Us</a
        >
      </li>
    </ul>
    <div class="nav-hamburger">
      <div class="lines line1"></div>
      <div class="lines line2"></div>
      <div class="lines line3"></div>
    </div>
  </nav>
</header>
